@model List<Category>

<div class ="container">
     
     <div class="row pt-4 pb-2"> 
        <div class="col-6">
            <h1>Category LIST</h1>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary"> <i class="bi bi-plus-circle" ></i>Create Category</a>
        </div>
     </div>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display order 
            </th>
         </tr>

    </thead>
    <tbody>
        @foreach(var obj in Model.OrderBy(u=>u.category_id) ) { 
            <tr>
                <td>@obj.name</td>
                <td>@obj.DisplayOrder</td>
                 
<td>
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.category_id" class="btn btn-primary"> <i class="bi bi-pencil-square"></i>Edit</a>
                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.category_id" class="btn btn-danger"> <i class="bi bi-trash"></i>Delete</a>


            </tr>
        }
    </tbody>
</table>
</div>