@model Category

<h1>ADD A CATEGORY</h1>


<form method="post">
    <div class="form-group">
        <label asp-for="name">Name:</label>
        <input asp-for="name" type="text" class="form-control"  placeholder="Enter name">
        <span asp-validation-for="name" class="text-danger"></span>
        
    </div>
    <div class="form-group">
        <label asp-for="description">Description:</label>
        <input asp-for="description" class="form-control" placeholder="Enter description" rows="4">
        <span asp-validation-for="description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary form control">Submit</button>
    <a class="btn btn-secondary" asp-controller="Category" asp-action="Index">Back to List</a>
</form>
@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}
